
body{
    display: flex;
}
div{
    width: 150px;
    height: 100px;
    background-color: bisque;
    margin: 16px;
}
.cropped{
    overflow: hidden;
}
.both-scrolls{
    overflow: scroll;
}
.vertical-scroll{
    overflow: auto;
    cursor: all-scroll;
}