.gallery {
    display: flex;
    overflow-x: auto;
    cursor: all-scroll;
  }
  
  body {
    overflow: hidden;
  }
  
  .thumb {
    margin: 8px;
    flex-grow: 1;
    width: 100%;
    max-width: 320px;
    height: 213px;
    object-fit: cover;
  }