.gallery {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  cursor: all-scroll;
  height: 100vh;
}

.thumb {
  margin: 8px;
  flex-shrink: 0;
  width: 225px;
  height: 225px;
  object-fit: cover;
}

body {
  overflow: hidden;
}