
  body {
    font-family: Verdana, sans-serif;
  }
  .diff-block {
    text-align: center; /* Выравниваем текст по центру */
    margin: 0 auto; /* Центрируем блок на странице */
  }
  
  header h1 {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 74px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  div {
    height: 200px;
    background-color: coral;
    color: white;
    text-align: center;
    text-transform: uppercase;
    line-height: 200px;   
  
  }