* {
  font-family: Verdana, sans-serif;
}

body {
  margin: 0;
}

header {
  margin: 40px 0;  
}

h1 {
  font-size: 74px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div {
  height: 200px;
  background-color: coral;
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 200px;
}