.image-container {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .image {
    max-width: 100%;
    height: auto;
  }

  .image-button {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 100px);
    width: 200px;
    height: 50px;
    background-color: bisque;
    color: #333;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    cursor: pointer;
  }

  .image-button:hover {
    opacity: 1;
  }