.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: darkturquoise;
  display: flex;
  align-items: center;
  z-index: 1000;
}


.navigation {
  height: 100%;
  width: 100%;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  align-items: center;
}

.nav-item {
  color: white;
  margin-left: 16px;
  font-size: 16px;
}

/* Основное содержание */
.content {
  background-color: beige;
  padding-top: 60px; 
  height: 5000px;
}

/* Стили для медведя */
.head {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  position: relative;
  margin: 80px auto 0; 
}

.ear {
  width: 40px;
  height: 60px;
  background-color: brown;
  position: absolute;
}

.ear_left {
  top: -60px; 
  left: -40px; 
}

.ear_right {
  top: -60px; 
  right: -40px; 
}

.eye {
  width: 30px;
  height: 30px;
  background-color: grey;
  border-radius: 50%;
  position: absolute;
}

.eye_left {
  top: 70px;
  left: 50px;
}

.eye_right {
  top: 70px;
  right: 50px;
}