* {
  box-sizing: border-box;
}

html {
  font-family: Verdana;
}

h1 {
  font-size: 74px;
  width: 50vw;
  margin: auto;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div {
  background-color: coral;
  height: 200px;
  line-height: 200px;
  color: white;
  text-transform: uppercase;
  text-align: center;
}