
.list{
    font-size: 1.5em;
    list-style-type: none;
    line-height: 40px;
}
.first{
    text-decoration:green underline;
    text-decoration-style: wavy;
}
.second{
    text-decoration:line-through;
}
.third{
    text-decoration:red overline;
}
